@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url(./fontello.css);

/*숨김 제목 및 숨김 콘텐츠*/
.a11y-hidden,
legend {
    position: absolute;
    /*absolute 가 되면 독립된 블록으로 인식, offset을 주지 않으면 initial이 default*/
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: 0;
    clip-path: polygon(0 0, 0 0, 0 0);
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* 가끔 브라우저마다 기본값이 다른 경우가 있어서 ::before와 ::after을 명시하는 것
    padding이나 border를 입력해도 박스 사이즈는 변함 없음 */
    /* 모바일 환경에서 매우 편함... 모바일은 각자 사이즈가 달라서 보통 width를 100%로 설정
    border-box를 쓰면서 padding을 입혀서 안에 내부 폭 변함 없도록 */
}

/* 
body *,
body *::before,
body *::after {
    box-sizing: border-box;
} */


html {
    font-size: 10px;
}

body {
    font-family: 'Spoqa Han Sans', 'Sans-serif';
    font-size: 1.4rem;
    background-color: #ccc;
    /* display: flex;
    flex-flow: column nowrap;    
    align-items: center; */
}

/* 링크 스타일 */
a {
    color: inherit;
    text-decoration: none;
}

/* 스킵 내비게이션 */
.skip-nav {
    display: none;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan {
    width: 940px;
    padding: 10px;
    margin: 0 auto;
    /* viewport에서 content+border+padding+margin 제외하고 남은 값을 양쪽에 할당시켜 가운데 정렬처럼 보임 */
    /* viewport 크기를 줄여도 마진 값이 줄어들며 가운데 정렬로 보임 */
}

/* 헤더 */
.header {
    background: #ffffff;
    position: relative;
    padding: 0 40px;
    border-radius: 0 0 15px 15px;
}

/* 로고 */
.logo {
    position: absolute;
    top: 50px;
    left: 65px;
}

/* 회원 안내 링크 목록 */
.member {
    margin: 0;
    padding-left: 0;
    list-style: none;
    /* ul상의 bullet 없애기 */
    text-align: right;
}

.member li {
    display: inline-block;
    padding: 2px 0;
}

/* 링크 스타일 */
.member a {
    padding: 8px 10px;
    display: inline-block;
}

/*내비게이션*/
.navigation {
    padding-bottom: 35px;
}

.menu {
    background: linear-gradient(to bottom,
            #efa22f 0%,
            #ed702d 35%,
            #ed702d 70%,
            #efa22f 100%);
    border-top: 2px solid currentColor;
    margin: 10 0 0 0;
    padding-left: 200px;
    list-style: none;
    height: 47px;
    border-radius: 0 0 5px 5px;
}

.menu-item {
    position: relative;
    float: left;
}

.menu-button {
    cursor: pointer;
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: 700;
    background: transparent;
    line-height: 45px;
    display: block;
    padding: 0 20px;
    border: 0;
    border-left: 2px solid rgba(255, 255, 255, .5);
    text-shadow: 0 1px 0 #000000, 1px 0 0 #000000, 0 -1px 0 #000000, -1px 0 0 #000000;
    /*1px 1px 0 #000000, -1px -1px 0 #000000;*/
}

.menu-act .menu-button {
    color: #ff0;
}

.menu-act .menu-button::after {
    content: "";
    display: block;
    border-top: 2px solid #000
}

.sub-menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: none;
    position: absolute;
    top: 47px;
    /* navigation 크기에 맞춰서 조정*/
    left: 0;
    white-space: nowrap;
}

.sub-menu li,
.sub-menu a {
    display: inline-block;
    padding: 8px 0;
    margin-right: 10px;
}

.sub-menu a::before {
    content: "\f192";
    font-family: 'fontello';
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
    content: '\e800';
}

.menu-act .sub-menu {
    display: block;
}

.sub-menu1,
.sub-menu2,
.sub-menu3 {
    left: 0;
}

.sub-menu4,
.sub-menu5,
.sub-menu6 {
    right: 0;
}

/* 텍스트 및 배경 애니메이션 - 비주얼 */
@keyframes textAni {
    0% {
        /* from{} */
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        transform: translate(0, 0);
    }

    100% {
        /* to{} */
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        transform: translate(400px, 75px);
    }
}

.visual {
    position: relative;
    height: 120px;
    /*가급적이면 높이 고정하지 말 것.. 보통 광고창은 높이가 fix되니까 쓰는 것 */
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    animation-name: bgAni;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /*animation: bgAni 2000ms alternate infinite ease-in-out;*/
    /* 단축 속성으로 한번에 표기*/
}

.visual::before {
    content: "";
    background-image: url(./images/ani_flower_01.png),
                      url(./images/ani_flower_02.png);
    background-position: 0 -10px, 670px 0;
}

.visual::after {
    content: "";
    background-image: url(./images/ani_flower_03.png),
                      url(./images/ani_flower_04.png);
    background-position: 300px 0, 800px 0;
    animation-delay: 1000ms;
}

.visual-text {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: textAni 2000ms forwards ease-in-out;
    margin: 0;
}

@keyframes bgAni {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* .main {
    background: skyblue;
    display: flex;
    flex-flow: row nowrap;
    height: 400px;
    padding: 30px;
    justify-content: space-between; */
/* space-evenly 를 쓰면 IE에서 적용 안됨 */
/* space-between을 넣고 main에서 직접 padding값 입력 */
/* } */

.main {
    background: #ffffff;
    padding: 30px 15px;
    overflow: hidden;
    min-height: 450px;
    /* 높이 fix하지 말고 min-height 입력 -> contents에 따라 높이가 달라지도록 */
}

/* (1) group이 main을 뚫고 나올 때 main에 높이 지정 -> 경직된 방법... content 길이가 길어지면 또 수정해야되니까 */
/* (2) html에 clearfix 추가 */

/* (3)
.clearfix {
    clear: both;
} 
*/

/* .clearfix::after {
     content: "";
     clear: both;
     /* block요소일때만 적용 가능.. inline에는 적용 안되고 ignore됨 / 문법적 오류는 아님.. */
/* display: block; */
/* main의 높이를 늘리지 않았지만 늘린 효과가 나타남 */
/* }  */

.group {
    margin: 0 15px;
    float: left;
}

.group1 {
    width: 250px;
    /* group1을 float 시키면 group1은 떠오르고 그 밑에 부모 요소에 보이지 않는 linebox가 생김 
    linebox가 생기면서 linebox 기준 왼쪽에 위치함 */
    /* 단 linebox가 생성되어 박스끼리 부딪칠 때 인라인 텍스트가 겹치면 밀어냄 */
}

.group2 {
    width: 380px;
    /*linebox 단위로 떨어지기 때문에 group2의 height: 250px;만큼의 높이를 가진 linebox 생성 */

}

.group3 {
    background: lightgoldenrodyellow;
    width: 190px;
}

/* 로그인 */
.login {
    background: radial-gradient(circle at right top, #efa22f, #ed702d);
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #ccc;
    padding: 15px 10px;
}

.login-heading {
    margin: 0;
    color: #ff0;
    font-size: 1.6rem;
    font-weight: 700;
    text-indent: 10px;
}

.login-form {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background: #ffffff;
    border-radius: 5px 5px 0 0;
}

.login-form fieldset {
    position: relative;
    border: 0;
    border-bottom: 1px solid #000000;
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
}

.user-email,
.user-pw {
    margin-bottom: 5px;
}

.user-email *,
.user-pw * {
    vertical-align: middle;
}

.login-form label {
    width: 4em;
    display: inline-block;
}

.login-form input {
    width: 90px;
    height: 22px;
    border: 1px solid #ccc;
    padding: 1px 1px 1px 0.5em;
}

.btn-login {
    /* 기본값: display: inline-block */
    position: absolute;
    top: 0;
    /* fieldset 기준 0 */
    right: 0;
    /* fieldset 기준 0 */
    width: 50px;
    height: 50px;
    padding: 0 5px;
    border: 0;
    border-radius: 3px;
    background: #ed702d;
    color: #fff;
}

.login-member {
    background: #ffffff;
    padding: 2px 10px;
    margin: 0;
    list-style: none;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    letter-spacing: -1px;

}

.login-member li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.login-member,
icon-right-open {
    color: #ed702d;
}

.login-member a {
    display: block;
    padding: 8px 0;
}

/* 유효성 검사 */
.validation-list {
    margin: 25px 0 0 0;
    list-style-type: none;
    padding-left: 0;
}

.validation-list a {
    display: block;
    border-radius: 20px;
    border: 1px solid #aaa;
    background: url(./images/validation_icon.png) no-repeat 25px 50% 
    / 20px 20px, linear-gradient(to bottom, #eee, #ccc);
    padding: 8px 10px 10px 50px;
    margin-top: 10px;
}

.validation-list a:hover,
.validation-list a:focus {
  color: #f00;
}
 

/* 웹 관련 용어 */
.term {
    border: 1px solid #aaa;
    background: linear-gradient(#ccc, #eee);
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

.term-heading {
    margin-top: 0; 
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;
}

.term-list {
    margin: 15px 0 0 0;
}

.term-list > div {
    overflow: hidden; /* 외곽 무너지는 문제 */
}

.term-list div:nth-child(even) {
    margin-top: 15px;
}

.term-list-subject,
.term-list-brief {
    float: right;
    width: 145px;
}

.term-list-subject {
    color: #296897;
}

.term-list-thumbnail {
    float: left;
    /* margin: 0 */
}

.term-list-thumbnail img {
    display: block; /* dd(block) 내부에 img(inline)이 들어가면서 생긴 여백 문제 해결 */
}

.term-list-brief {
    margin-top: 5px;
    line-height: 1.5;
}

.term-list dd {
    margin-left: 0;
}
  
.term-list div:nth-child(even) .term-list-subject,
.term-list div:nth-child(even) .term-list-brief {
    float: left;
}

.term-list div:nth-child(even) .term-list-thumbnail {
    float: right;
}

/* 검색 폼 */
.search-form {
    background: #ccc linear-gradient(#ccc, #eee); /* callback color : linear gradient 를 지원하지 않는 브라우저에서 단색 이미지라도 보이게 하기 위함 */
    border: 1px solid #aaa;
    border-bottom-color: #fff; /* (아니면 transparent) */
    /* border-bottom: 0; */
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px;
}

.search-form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.search-form-containter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between; /* padding 안주고 해결 */
}

.search-form [name="search"] {
/* .search-form input { */
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 1px 1px 0.5em;
    height: 22px;
    /*flex-grow: 1;*/  /* flex-grow를 쓰지 않은 이유 : */
    width: 190px; 
    /* 브라우저별로 width 값이 다 다르기 때문에 길이를 강제해줌 */
    /* margin: 0 5px; */
}

.btn-search {
    background-color: #333;
    border: 1px solid #aaa;
    color: #fff;
    border-radius: 3px;
    height: 22px;
    padding: 0 10px;
}


/* 검색 폼 연습*/
/* .search-form {
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(#ccc, #eee);
}

.search-form fieldset {
    border: 0;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset input {
    padding: auto;
    margin: 0 5px;
}

fieldset label {
    vertical-align: center;
}


.btn-search {
    color: #ffffff;
    background: #181818;
    border: #ccc;
    border-radius: 5px;
} */

.slogan {
    background: orange;
}

.footer {
    width: 100%;
    background: gray;
}
